---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <article class="home-copy">
    <h1 class="home-role"><a href="https://1x.engineer/">1x Engineer</a></h1>
    <p>Grateful. Curious. Cannot imagine a life without sports, tech. Indian Railways fan.</p>

    <h2>Aim</h2>
    <ul>
      <li>Create products that people around me can easily use</li>
      <li>Develop tools that solve my own needs and challenges</li>
      <li>I find people like me, who would then use what I have made</li>
    </ul>

    <p>
      My latest resume is available{" "}
      <a href="https://github.com/aakashb95/resume/blob/master/resume_aakash_bakhle.pdf">here</a>.
    </p>
  </article>
</BaseLayout>
