<footer class="site-footer">
  <div class="footer-links">
    <a href="mailto:aakashbakhle@gmail.com">email</a>
    <a href="https://github.com/aakashb95" rel="me">github</a>
    <a href="https://www.linkedin.com/in/aakashb95" rel="me">linkedin</a>
    <a href="https://x.com/aakashb_95" rel="me">x</a>
    <a href="/rss.xml">rss</a>
  </div>
</footer>
