<footer class="site-footer">
  <p>Ideas are better when they leave the notebook.</p>
  <div class="footer-links">
    <a href="mailto:aakashbakhle@gmail.com">Email</a>
    <a href="https://github.com/aakashb95" rel="me">GitHub</a>
    <a href="https://www.linkedin.com/in/aakashb95" rel="me">LinkedIn</a>
    <a href="https://x.com/aakashb_95" rel="me">X</a>
    <a href="/rss.xml">RSS</a>
  </div>
  <p class="copyright">© {new Date().getFullYear()} Aakash Bakhle</p>
</footer>
